.Experience-wrapper {
  background-color: #f9f9f9;
  float: left;
  width: 1098px;
  height: 1080px;
}
.Experience-input-wrapper {
  padding-left: 149px;
}

.back-Btn-2 {
  margin-top: 35px;
  margin-left: 48px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}
.back-Btn-2:active {
  background-color: #f9f9f9;
}

.experience-title {
  font-family: 'Helvetica Neue';
  font-size: 24px;
  margin-top: 47px;
  line-height: 29px;
}
.title-hr-2 {
  margin-left: 61px;
  width: 798px;
}
.title-13-2 {
  display: flex;
  height: 88px;
}
.x13-2 {
  float: right;
  margin-left: 600px;
  height: 24px;
  width: 29px;
  margin-top: 49px;
  font-size: 20px;
  font-family: 'Helvetica Neue';
  color: #1a1a1a;
}
.pers-info-hr-2 {
  margin-top: 0;
  border: 1px solid #1a1a1a;
}

.position-title {
  font-size: 16px;
  font-family: 'Helvetica Neue';
  margin-top: 30px;
}
.experience-titles {
  font-size: 16px;
  font-family: 'Helvetica Neue';
}
.pos-empl-input {
  width: 798px;
  height: 48px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
.exp-error {
  font-size: 14px;
  font-family: 'Helvetica Neue';
}
.date-wrapper {
  display: flex;
}
.endDate-wrapper {
  margin-left: 58px;
}
.date-input-2 {
  width: 371px;
  height: 48px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
.textarea-input {
  width: 798px;
  height: 123px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
.exp-submit-btn {
  cursor: pointer;
  width: 121px;
  height: 38px;
  font-family: 'Helvetica Neue';
  background: #6b40e3;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  margin-left: 683px;
  margin-top: 94px;
}
