.PersInfo-wrapper-with-btn {
  background-color: #f9f9f9;
  float: left;
  width: 1098px;
  height: 1080px;
}

.PersInfo-wrapper {
  padding-left: 149px;
}
.btn-Title {
  display: flex;
}
.back-Btn {
  margin-top: 35px;
  margin-left: 48px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}
.back-Btn:active {
  background-color: #f9f9f9;
}

.pers-info-title {
  font-family: 'Helvetica Neue';
  font-size: 24px;
  margin-top: 47px;
  line-height: 29px;
}
.title-hr {
  margin-left: 61px;
  width: 798px;
}
.title-13 {
  display: flex;
  height: 88px;
}
.x13 {
  float: right;
  margin-left: 607px;
  height: 24px;
  width: 29px;
  margin-top: 49px;
  font-size: 20px;
  font-family: 'Helvetica Neue';
  color: #1a1a1a;
}
.pers-info-hr {
  margin-top: 0;
  border: 1px solid #1a1a1a;
}

.name-surname-wrapper {
  display: flex;
}
.name-wrapper {
  background-color: red;
  width: 300px;
}
.surname-wrapper {
  background-color: blue;
}
