.subtmi-cv-main {
  display: flex;
}
.submit-cv-wrapper {
  box-sizing: border-box;
  width: 822px;
  height: 1080px;
  border: 0.8px solid #000000;
  margin-left: 461px;
  margin-top: 54px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 58px;
}

.submit-back-btn {
  margin-top: 45px;
  margin-left: 45px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  font-weight: bold;
  background-color: #f9f9f9;
  cursor: pointer;
}
.submit-persInfo-photo {
  display: flex;
}
.submit-persInfo {
  width: 432px;
}
.submit-image {
  border-radius: 50%;
  width: 246px;
  height: 246px;
}
.sub-name-surname-wrapper {
  display: flex;
}
